@media (max-width: 480px) {
  body {
    background-image: url("./img/fundo_promo_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }

  /* HEADER */
  .header {
    height: 4rem;
  }

  .header h1 {
    font-size: 1rem;
  }

  .logo {
    height: 4rem;
  }

  /* CONTAINER PRINCIPAL */
  .formulario {
    max-width: 300px;
  }

  .formulario h2 {
    font-size: 1rem;
  }

  input, select {
    padding: 0.4rem 0.6rem;        
    margin-bottom: 0.4rem;                
    font-size: 0.6rem;              
  }

  /* RESUMO DO PEDIDO */
  .resumo-pedido {
    max-width: 300px;
  }

  .resumo-pedido h2 {
    font-size: 1rem;
  }

  #total-carrinho {
    font-size: 0.8rem;
    margin: 0.6rem 0;
  }

  button {
    padding: 0.6rem;
    font-size: 0.5rem;
    background-color: #F57C00;
  }

  button:hover {
    background: #FFB300;
  }

  /* BUTTON REMOVER */
  #lista-carrinho {
      font-size: 0.8rem;
    }

  #lista-carrinho button {
    font-size: 0.4rem;
  }

}
